<header>
</header>

<nav class="py-4 w-full">
  <div class="text-center mx-auto max-w-prose">
    <a class="!decoration-wavy decoration-2" href="<%= relative_url '/' %>">> Home</a>
    <a class="!decoration-wavy decoration-2" href="<%= relative_url '/about' %>">> About</a>
    <a class="!decoration-wavy decoration-2" href="<%= relative_url '/yellow' %>">> Yellow pages</a>
  </div>
  <div class="my-4 h-1 border-b-2 border-black/10"></div>
</nav>
