<nav class="navbar bg-base-100 border-b-2 border-black/10">
  <div class="text-center mx-auto max-w-prose">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <a class="btn btn-ghost text-xl" href="<%= relative_url crumb[:url] %>">
        <%= crumb[:name] %>
      </a>
      <% if index < breadcrumbs.size - 1 %>
        <span class="text-xl">/</span>
      <% end %>
    <% end %>
  </div>
</nav>