---
layout: page
title: About
---

<p class="pb-4">
  Hi, I'm Marcus! I'm a Sr. Software Engineer at the Public Library of Science.
</p>

<p class="pb-4">
  I enjoy building tools to make people happy and solve a problem. I'm somewhat convinced you can substitute the word 'engineer' for 'problem solver'. You can see some of my work here on this site, <a href="https://nihongo.life?utm_source=blog", target="_blank"><img style="display: inline" src="<%= relative_url 'images/nihongo-mini.svg' %>"/> Nihongo Life</a> and <a href="https://awardist.app?utm_source=blog", target="_blank"><img style="display: inline" src="<%= relative_url 'images/awardist-mini.svg' %>"/>Awardist</a>.
</p>