<footer class=" py-4 w-full">
  <div class="my-4 h-1 border-b-2 border-black/10"></div>
  <div class="px-2 md:px-0 max-w-prose md:mx-auto">
    <a href="<%= relative_url '/' %>">marcushirst.com</a>
    <br>
    <a class="my-2 px-1.5 py-1 border-2 border-black/10 rounded-md hover:black/10 shadow-sm" href="mailto:<%= metadata.email %>">
      &#x2709; Email
    </a>
    <p>&copy; 2023&#x2014;<%= Time.now.year %> Marcus Hirst</p>
  </div>
</footer>